<div class="container">


  <div class="container-box">


    <aside class="aside0">
      <a href="#">#DELIVERWORK</a>
    </aside>

    <article class="content">

      <div class="cal-box">
      <%= calendar @events, {:prev_text=>raw('<i class="icon-circle-arrow-left icon-large"></i>'), :next_text=>raw('<i class="icon-circle-arrow-right icon-large"></i>'), class: 'ourscal'} do |event| %>
        <div><%= link_to event.title, event %></div>
      <% end %>
      </div>

    </article>

    <aside class="aside1">
      <div id="personal-work">
        <h2><i class="icon-laptop icon-large"></i>WHOAMI</h2>
        <div class="business-card-holder">
          <div class="business-card" href="#balazs">
            <h5>Hsin-lin Cheng</h5>
            <div class="title">web developer</div>
            <div class="email">lancetw@gmail.com</div>
            <div class="links">
              <a href="https://www.facebook.com/lancetw"><i class="icon-facebook-sign icon-2x"></a></i>
              <i class="icon-twitter-sign icon-2x"></i>
              <i class="icon-google-plus-sign icon-2x"></i>
              <i class="icon-github icon-2x"></i>
            </div>
            <figure><div class="personal-circle" style="background-image: url('<%= asset_path("icons/lancetw.jpg") %>')"></div></figure>
          </div>
        </div>
      </div>

      <div id="helveti-list">
        <h2>ACT@TODAY</h2>
        <ul>
          <li><a href="#">處理bug#9527<div class="work-circle" style="background-image: url('<%= asset_path("icons/Fullmetal-Alchemist-256.png") %>')"></div></a></li>
          <li><a href="#">第二階段進行中<div class="work-circle" style="background-image: url('<%= asset_path("icons/Hyouka-256.png") %>')"></div></a></li>
          <li><a href="#">看進擊的巨人#12<div class="work-circle" style="background-image: url('<%= asset_path("icons/One-Piece-anime-256.png") %>')"></div></a></li>
          <li><a href="#">8點開會<div class="work-circle" style="background-image: url('<%= asset_path("icons/Naruto-256.png") %>')"></div></a></li>
          <li><a href="#">測試<div class="work-circle" style="background-image: url('<%= asset_path("icons/BLEACH-anime-256.png") %>')"></div></a></li>
        </ul>
      </div>

    </aside>

    <aside class="aside2">
      <h2><i class="icon-coffee icon-large"></i><i class="icon-coffee icon-large"></i><i class="icon-coffee icon-large"></i></h2>

      <h3>#Project1 STAGE</h3>
        <ul class="project-status">
          <li>
            <div class="progress">
              <div class="bar bar-success" style="width: 12%;"></div>
              <div class="bar bar-warning" style="width: 30%;"></div>
              <div class="bar bar-danger" style="width: 40%;"></div>
            </div>

          </li>
        </ul>
    </aside>

    <aside class="aside3">
      <h3>Message Box</h3>
      <div class="chatbox">
        <div class="alert alert-chat"><div class="msg">Hello Guys.</div><div class="chat-circle" style="background-image: url('<%= asset_path("icons/lancetw.jpg") %>')"></div><div class="info-bar">lancetw</div></div>
        <div class="alert alert-chat"><div class="msg">Hello</div><div class="chat-circle" style="background-image: url('<%= asset_path("icons/BLEACH-anime-256.png") %>')"></div><div class="info-bar">John</div></div>
        <div class="alert alert-chat"><div class="msg">Any body here?</div><div class="chat-circle" style="background-image: url('<%= asset_path("icons/Naruto-256.png") %>')"></div><div class="info-bar">Jerry</div></div>
        <div class="alert alert-chat"><div class="msg">test</div><div class="chat-circle" style="background-image: url('<%= asset_path("icons/Hyouka-256.png") %>')"></div><div class="info-bar">Su</div></div>
        <div class="alert alert-chat"><div class="msg">Hi</div><div class="chat-circle" style="background-image: url('<%= asset_path("icons/Dragonball-Goku-256.png") %>')"></div><div class="info-bar">Tom</div></div>
      </div>
    </aside>

  </div>
  <footer class="footer1">
    <h1>Ourscal <small>A Social Calendar Only what You Want</small></h1>
  </footer>
  <footer class="footer2">
    <ul class="nav nav-pills .btn-large">
      <li class="active"><a href="#">@NOW</a></li>
      <li class="active"><a href="#">@PAST</a></li>
      <li class="active"><a href="#">@FUTURE</a></li>
    </ul>
  </footer>


</div>